body {
    font-family: arial;
}

#unique-box {
    background: darkslategray;
    color: white;
    border: 10px dotted violet;

}

.box {
    width: 100px;
    height: 100px;
    background: cornflowerblue;
    margin: 1em;

}

.big {
    width: 200px;
    height: 200px;
    margin: 1em;

}

.coral {
    background: coral;
}