* {margin: 0; padding: 0; box-sizing: border-box;}

.dialog-box {
    width: 50vmin;
    height: 20vmin;
    border: 3px solid rgb(115, 120, 165);
    position: relative;
    left: 50vw;
    top: 50vh;
    box-shadow: 0 10px 10px rgb(73, 73, 73), 0 6px 10px rgb(73, 73, 73);
}

.close-button {
    background: crimson;
    padding-left: .5vmin;
    padding-right: .5vmin;
    float: right;
}