* {
    margin: auto 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: linear-gradient(180deg, rgb(2, 2, 124), rgb(15, 99, 255), rgb(75, 137, 187), green, rgb(1, 34, 1));
    
    min-height: 100vh;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

.background {
    opacity: 0.2;
    display: block;
    margin: auto;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    object-fit: cover;
    z-index: -1;
    /* width: 210vmin;
    height: 100vmin; */
}

.wood {
    position: relative;
    margin-top: 30vmin;
}

.titles {
    background: repeating-linear-gradient(rgb(82, 28, 12) 30%, rgb(218, 132, 52) 50%);
    padding: 5vmin;
    text-align: center;
}

.titles h1 {
    color: rgb(1, 185, 1);
    font-size: 8vmin;
}

.titles h2 {
    font-size: 2vmin;
    color: rgb(44, 16, 7);
}

h1:hover {
    transform: scale(1.2);
}

.plants {
    display: flex;
    justify-content: space-evenly;
    align-items: flex-end;
    margin: 0;
    position: absolute;
    bottom: 100%;
    left: 0;
    width: 100%;
    /* width: 100px;
    height: 100px; */
    /* background: rgba(255, 0, 0, 0.5); */
}

.plants img {
    width: 10vmin;
}

.twirling-plant {
    margin-bottom: -.125em;  
}

.floating-plant {
    margin-bottom: -.5em;
}

.pixel-plant {
    margin-bottom: -.5em;
}

.springy-plant {
    margin-bottom: -.5em;
}

.bird {
    margin-bottom: -.5em;
}

.white-bird {
    margin-bottom: -.5em;
}

.windy-plant {
    margin-bottom: -.5em;
}

.pretty-plant {
    margin-bottom: -.5em;
}

.smiling-plant {
    margin-bottom: -.5em;
}

#heart-plant {
    width: 7vmin;
    margin-bottom: -.5em;
}

.center-plant {
    margin: 0 auto;
    margin-top: 5em;
    display: block;
    width: 30vmin;
}





