body {  
    background: rgb(144, 161, 238);
}

h1 {
    color:rgb(255, 255, 255);
    background: rgba(0, 0, 255, 0.637);
    text-align: center;
}

div {
    font-size: 60px;
    background: rgba(255, 8, 0, 0.801);
    text-align: center;
    padding: 30px;
    border: 10px solid rgba(0, 0, 255, 0.637);
    margin: 30px;
}