* { margin: 0; padding: 0; }

body {
    font-family: 'Girassol', cursive;
    background: black;
}

h1 {
    color: white;
    text-align: center;
    font-size: 5rem;
    margin: 0;
    padding-top: 4vmin;
}

h2 {
    color: gray;
    text-align: center;
}

.grid-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    padding: 4rem;
    grid-gap: 4rem;
    justify-items: center;
    align-items: center;
    height: 8vh;

}

.item {
    font-size: 3rem;
    border: 3px solid white;
    width: 100%;
}

a {
    padding-left: 1rem;
}

/* Tried to use a default setting online for iphones */
@media only screen 
  and (min-device-width: 375px) 
  and (max-device-width: 812px)
  and (-webkit-min-device-pixel-ratio: 3) {

}

